# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    try:
        data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
        data.loc[(data['income_type'] == t), 'total_income'].median()
    except:
        print('Ошибка в данных')

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    try:
        data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
        data.loc[(data['income_type'] == t), 'days_employed'].median()
    except:
        print('ошибка в данных')

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [14]:
data.duplicated().sum()

54

In [15]:
data = data.drop_duplicates()

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [16]:
data['education'] = data['education'].str.lower()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30_000:
            return 'E'
        elif 30_001 <= income <= 50_000:
            return 'D'
        elif 50_001 <= income <= 200_000:
            return 'C'
        elif 200_001 <= income <= 1_000_000:
            return 'B'
        elif income >= 1_000_001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Исследуйте данные и ответьте на вопросы

**Задание 19. Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [22]:
#print('Колличество уникальных значений в столбце задолжности :\n',data ['debt'].value_counts())
print(f'Колличетво уникальных значений в столбце дети :\n',data['children'].value_counts())
#надо найти связь между детьми и задолжностью
chi_and_debt =data.groupby('children').agg({'debt':['count','sum']})
print(chi_and_debt['debt']['sum']/chi_and_debt['debt']['count']) # по данной таблице видно что просрочек нет у людей с 5 детьми

Колличетво уникальных значений в столбце дети :
 0    14107
1     4809
2     2052
3      330
4       41
5        9
Name: children, dtype: int64
children
0    0.075353
1    0.092327
2    0.094542
3    0.081818
4    0.097561
5    0.000000
dtype: float64

**Вывод:** По полученным данным можно сказать, что :
- колличество детей влияет на возврат средств в срок
- при колличестве 5 детей люди возращают средства в срок, но колличество маленькое (9 человек из 21_348) нельзя сказать, что все у кого больше 4 детей отдают все в срок (скепсис)
- Так же можно сказать, что кредиты берет большее колличество людей без детей, и данная категория людей являеться наиболее стабильной в вероятности отдачи кредита в срок (за счёт их колличества)

**Задание 20. Есть ли зависимость между семейным положением и возвратом кредита в срок?**

In [23]:
print(f'Колличетво уникальных значений в столбце  семеное положение :\n',data['family_status'].value_counts())
fam_and_debt =data.groupby('family_status').agg({'debt':['count','sum']})
print(fam_and_debt['debt']['sum']/fam_and_debt['debt']['count'])

Колличетво уникальных значений в столбце  семеное положение :
 женат / замужем          12266
гражданский брак          4146
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64
family_status
Не женат / не замужем    0.097639
в разводе                0.070648
вдовец / вдова           0.066246
гражданский брак         0.092861
женат / замужем          0.075575
dtype: float64

**Вывод:** По полученным данным можно сказать то, что:
- Не женатые/ не замужние : имеет наибольшую вероятность не уплаты кредита в срок, это можно связать с тем что это молодые люди, которые не могут управлять бюджетом
- Наибольшую вероятность возврата кредита в срок, являются вдовцы, но и также они имеют наименьший процент выборки 
- Наибольшее колличество людей, которые берут кредит это люди в браке, и "медианной" вероятностью отдают в срок (вероятность являеться наиболее стабильной за счёт колличетсва )

**Задание 21. Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [24]:
print(f'Колличетво уникальных значений в столбце  уровень доходов по критерию :\n',data['total_income_category'].value_counts())
cash_and_debt =data.groupby('total_income_category').agg({'debt':['count','sum']})
print(cash_and_debt['debt']['sum']/cash_and_debt['debt']['count'])

Колличетво уникальных значений в столбце  уровень доходов по критерию :
 C    15938
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64
total_income_category
A    0.080000
B    0.070602
C    0.084891
D    0.060172
E    0.090909
dtype: float64

**Вывод:** По полученным данным можно сказать то, что:
- Класс E - с наибольшой вероятностью  не отдадут кредит в срок так, как имеют доход до 30 тысяч
- Класс D - с наибольшей вероятностью отдадут кредит в срок
- (наиболле правдоподобная вероятность возврата кредита у Класса C, так как категория имеет наибольшее колличество людей, тем самым стабилизирует вероятность отдачи кредита)
- Класс А имеет наибольшую заработную плату, но не саммую высокую вероятность оплаты кредита в срок( колличество людей как и у класса E и не являеться стабильная вероятность) 
- спасибо за подсказку в синтаксисе

**Задание 22. Как разные цели кредита влияют на его возврат в срок?**

In [25]:
print(f'Колличетво уникальных значений в столбце  цель кредита по критерию :\n',data['purpose_category'].value_counts())
pur_and_debt =data.groupby('purpose_category').agg({'debt':['count','sum']})
print(pur_and_debt['debt']['sum']/pur_and_debt['debt']['count'])

Колличетво уникальных значений в столбце  цель кредита по критерию :
 операции с недвижимостью    10754
операции с автомобилем       4281
получение образования        3989
проведение свадьбы           2324
Name: purpose_category, dtype: int64
purpose_category
операции с автомобилем      0.093436
операции с недвижимостью    0.072531
получение образования       0.092504
проведение свадьбы          0.078744
dtype: float64

**Вывод:** По полученным данным можно сказать то, что:
- по колличествам в каждой группе, можно сказать, что данные стали равномернее чем для других вариантах рассмотренных выше
- наиболее вероятной группой людей закрывающих кредит в срок, являються люди, которыепроизводят операции с недвижимостью  (так как это связанно с тем что данные кредиты даються под тоже самое жилье где и живет человек, тем самым люди будут пытаться закрывать все в срок )
- наиболее вероятной группой людей закрывающих кредит в не срок, являються люди, которые берут кредит на операции с автомобилем

**Задание 23. Приведите возможные причины появления пропусков в исходных данных.**

In [26]:
 print(data.loc[data['income_type']=='пенсионер']['total_income'].count())

3820

*Ответ:* Могу предложить данные были с пропусками из-за того, что не которые не имеют заработка с работы и самой работы  (например как пенсионеры) 
могу выразить свое предположение:
как мне кажеться доход тут учитывался только на данный момент и с какой-то работы, но не с выплат как пенсионерам из-за этого там есть пропуски, по хорошему надо было оценить на каких именно людях были пропуски и так была бы картина яснее, если же на пенсионерах которые не работают то моя гипотеза верна, ели же туда будет входить другие люди без работы и без заработной платы то может это и вызвано человеческим фактором при заполнении либо же технической кратковременной.

**Задание 24. Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

*Ответ:* Так как количественные данные которые были полученные для данной работы, имеют большую разницу между друг друго и для объективности данных использовалось медиана.

## Общий вывод.

По данному DataFrame  можно , сказать что:
Существует зависимость закрытия кредита в срок от таких факторов: наличие детей и их колличества, цель кредита, семейного статуса и уровня дохода человека.